body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecf0f1;
    flex-direction: column;
    gap: .4rem;
  }

header{
  display: flex;
  flex: 1;
  font-size: 2rem;
  border: solid 1px;
  justify-content: center;
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: #a71318;
}

  .card {
    display: flex;
    background-color: #a71318;
    box-shadow: 3px 3px 1px 0px #00000060;
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    flex: 1;
    gap: 1rem;
  }

  .box{
    display: flex;
    flex:1;

  }

  .boxUser {
    display: flex;
    bottom:  50%;
    left: 50%;

    padding: 15px;
    width: 50%;
    border-radius: 8px;
    flex-direction: column;


  }



  .inputBox{
    display: flex;
    background: none;
    border: none;
  /*  border-bottom: 2px solid #7f8c8d;*/
    outline: none;
    color: black;
    font-size: 16px;
    flex:1;
    letter-spacing: 2px;
    flex-wrap: wrap;
    gap: 2rem;


  }

input{
  background: none;
  border: none;
  border-bottom: 2px solid #7f8c8d;
  outline: none;
  color: black;
  font-size: 16px;
  letter-spacing: 2px;

}
  .inputUser{

    width: 100%;
  }

  label {
    color:#fff;
    transition: .5s;
    border:none;

  }




  .inputUser:focus ~ .labelInput,
  .inputUser:valid ~ .labelInput{
    top: -15px;
    font-size: 10px;
    color: #fff;
    transition: all .3s ease-out
  }

  .data_nascimento{
    border-bottom: 2px solid #fff;
    padding: 2px;
    color: #fff;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  button {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    margin-top: 1rem;
    border: 1px solid #fff;
    transition: background-color .5s;
    background-color: transparent;
    outline: none;
    margin-bottom: 2px;
    font-size: 16px;
  }

  button:hover{
    background-color: #fff;
    color: #a71318;
    transition: all .3s ease-out
  }

  p{
    color: #fff;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    width: 100%;
  }

  .justify-center {
    display: flex;
    justify-content: center;
  }

  .Genero {
    display: flex;
    color: #fff;
    padding: 2px;
    border:none;
    flex-direction: row;
    flex:1;


  }

  .Estado {
    color: #fff;
  }

  .estado{
    display: flex;
    width: 100%;

    background-color: transparent;
    border-color: #fff;
    color: #fff;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    flex-direction: column;
  }
  .estado:hover{
    color: black;
  }
select {
  width: 30%;
  font-size: 16px;
}
