body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecf0f1;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }

  .card { 
    background-color: #a71318;
    box-shadow: 3px 3px 1px 0px #00000060;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    width: fit-content;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  .box{
    display: flex;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    width: 50%;
    border-radius: 8px;
  }

  .boxUser {
    display: flex;
    position: absolute;
    bottom:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    width: 50%;
    border-radius: 8px;
  }

  /*fieldset{
    color: #fff;
    border:none;
  }*/   

  .legend{
    background-color: transparent;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
  }

  .inputBox{
    position: relative;
  }

  .inputUser{
    background: none;
    border: none;
    border-bottom: 2px solid #7f8c8d;
    outline: none;
    color: black;
    font-size: 16px;
    width: 100%;
    letter-spacing: 2px;
  }

  .labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    color:#fff;
    pointer-events: none;
    transition: .5s;
  }

  .inputUser:focus ~ .labelInput,
  .inputUser:valid ~ .labelInput{
    top: -15px;
    font-size: 10px;
    color: #fff;
    transition: all .3s ease-out
  }            

  .data_nascimento{
    border-bottom: 2px solid #fff;
    padding: 2px;
    color: #fff;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  button {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    margin-top: 1rem;
    border: 1px solid #fff;
    transition: background-color .5s;
    background-color: transparent;
    outline: none;  
    margin-bottom: 2px;
  }

  button:hover{
    background-color: #fff;
    color: #a71318;
    transition: all .3s ease-out
  }

  p{
    color: #fff;   
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 2px;
    width: 100%;
  }

  .justify-center {
    display: flex;
    justify-content: center;
  }

  .Genero {
    color: #fff;   
    padding: 2px;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 4px;
  }

  .Estado {
    color: #fff;
  }

  .estado{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;  
  }
  .estado:hover{
    color: black;
  }  